@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary-custom: #ffa800;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-gray-800 bg-white;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    @apply text-[var(--color-primary-custom)];
  }
}

#root {
  @apply max-w-[1280px] mx-auto p-6;
}

a {
  @apply font-medium;
}

a:hover {
  @apply underline;
}

body {
  @apply m-0 min-h-[100vh];
}

h1 {
  @apply text-5xl;
}

@keyframes scaleOut {
  from {
    transform: translate(0, 0);
    scale: 1;
    opacity: 1;
  }
  to {
    transform: translate(0, -50px);
    scale: 1.1;
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: translate(0, -50px);
    scale: 1.1;
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    scale: 1;
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

::view-transition-old(item-active) {
  animation: scaleOut 0.5s;
  /* animation: slideOutLeft 0.5s; */
}

::view-transition-new(item-active) {
  /* animation: slideInLeft 0.5s; */
  animation: scaleIn 0.5s;
}

.tab-active::after {
  view-transition-name: tab-active-indicator;
}
